:root {
  --colors--grey-lightest: #eeefef;
  --colors--grey-light: #f5f5f5;
  --colors--grey-dark: #828d9a;
  --colors--blue: #2485ec;
  --colors--white: #fff;
}

body {
  font-family: "Rubik";
  background: var(--colors--grey-lightest);
}
